$primary-bg: #F4F1EB;
$primary-button-bg: #22262B;
$primary-button-text-color: #FCCB26;
$secondary-button-bg: #FFFFFF;
$secondary-button-text: #939393;
$glow-button-bg: #FCCC22;

$all-text: #232323;
$sub-text: #939393;