/* Abstracts */
/* All font links */
@font-face {
  font-family: "Inter-Regular";
  src: url("./assets/fonts/Inter-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Inter-Medium";
  src: url("./assets/fonts/Inter-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("./assets/fonts/Inter-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("./assets/fonts/Inter-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url("./assets/fonts/Inter-ExtraBold.otf") format("opentype");
}
/* Font variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter-Regular", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #F4F1EB;
}

/*Top-bar section*/
.main-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.main-top .image {
  width: 5%;
}
.main-top .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main-top .center {
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.main-top .center .search-wrapper {
  position: relative;
  width: 40%;
  /* Dropdown */
}
.main-top .center .search-wrapper .search-bar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background: #F4F1EB;
  padding: 0.6rem 1rem;
  border-radius: 50px;
  width: 100%;
  border: 0.1rem solid #9c9999;
}
.main-top .center .search-wrapper .search-bar .search-icon {
  color: #888;
}
.main-top .center .search-wrapper .search-bar input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 0.95rem;
  color: #333;
}
.main-top .center .search-wrapper .search-bar input::-moz-placeholder {
  color: #aaa;
}
.main-top .center .search-wrapper .search-bar input::placeholder {
  color: #aaa;
}
.main-top .center .search-wrapper .results {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 16px;
  padding: 0.5rem;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  z-index: 50;
}
.main-top .center .search-wrapper .results p {
  padding: 0.6rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}
.main-top .center .search-wrapper .results p:hover {
  background: #FFFFFF;
}
.main-top .center .search-wrapper .results .no-result {
  text-align: center;
  color: #939393;
  font-size: 0.85rem;
}
.main-top .center .button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  background: #22262B;
  border-radius: 50px;
  padding: 0.6rem 1rem;
  cursor: pointer;
}
.main-top .center .button a {
  text-decoration: none;
  color: #FCCB26;
}
.main-top .center .more {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #FFFFFF;
}
.main-top .right {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
.main-top .right .light {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #22262B;
  color: #FCCC22;
}
.main-top .right .light:hover {
  background: #fccb26;
  color: #111;
}
.main-top .right .light.active {
  background: #111;
  color: #fff;
}
.main-top .right .dark {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #22262B;
  color: #FFFFFF;
}
.main-top .right .dark:hover {
  background: #fccb26;
  color: #111;
}
.main-top .right .dark.active {
  background: #111;
  color: #fff;
}
.main-top .right .button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  background: #22262B;
  border-radius: 50px;
  padding: 0.6rem 1rem;
  cursor: pointer;
}
.main-top .right .button a {
  text-decoration: none;
  color: #FCCB26;
}

/*Side-bar section*/
.sidebar {
  width: 80px;
  height: calc(131vh - 10px);
  background: #f7f5ef;
  border-radius: 30px;
  margin: 1.5rem 0 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Center menu */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #FFFFFF;
  border: 0.1rem solid gray;
  border-radius: 50px;
  padding: 0.5rem;
}

.sidebar-menu-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: transparent;
  border: 0.1rem solid gray;
  border-radius: 50px;
  padding: 0.5rem;
}

.menu-item {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  cursor: pointer;
  transition: all 0.2s ease;
}
.menu-item:hover {
  background: #ece9e2;
  color: #111;
}
.menu-item.active {
  background: #22262B;
  color: #FCCB26;
}

/* Bottom section */
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #FFFFFF;
  padding: 0.5rem;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 15%;
}
.sidebar-bottom .profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.sidebar-bottom .profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-layout {
  display: flex;
  gap: 1.5rem;
  /* Header */
  /* Grid layout */
  /* Common card */
  /* Grid sizes */
  /*Calendar Section*/
  /*Video Section*/
  /*Progress Section*/
  /*Tasks Section*/
}
.main-layout .dashboard {
  flex: 1;
  background: #f7f5ef;
  border-radius: 30px;
  margin: 1.5rem 1.5rem 1.5rem 0;
  overflow-y: auto;
}
.main-layout .dashboard-header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
}
.main-layout .dashboard-header h2 {
  font-size: 1.6rem;
}
.main-layout .dashboard-header p {
  color: #939393;
  margin-top: 0.3rem;
}
.main-layout .large-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-layout .dashboard-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}
.main-layout .card {
  background: #fff;
  border-radius: 24px;
  padding: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
}
.main-layout .large {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: span 8;
  height: 280px;
}
.main-layout .large .button-header {
  display: flex;
  flex-direction: row;
  width: 35%;
  gap: 0.5rem;
}
.main-layout .large .menu-item {
  width: 50%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FCCB26;
  color: #111;
  cursor: pointer;
  transition: all 0.2s ease;
}
.main-layout .large .menu-item:hover {
  background: #ece9e2;
  color: #111;
}
.main-layout .large .menu-item.active {
  background: #22262B;
  color: #FCCB26;
}
.main-layout .large .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /*First card section*/
}
.main-layout .large .container .design {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 60%;
  background-color: #f5f1ee;
  padding: 1rem;
  border-radius: 20px;
}
.main-layout .large .container .design .image {
  width: 55%;
}
.main-layout .large .container .design .image img {
  width: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main-layout .large .container .design .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.main-layout .large .container .design .text p {
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
.main-layout .large .container .design .text span {
  text-align: center;
  font-size: 1.1rem;
}
.main-layout .large .container .second-part {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.main-layout .large .container .second-part .previous {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border-radius: 20px;
  background-color: #f5f1ee;
  padding: 1rem;
}
.main-layout .large .container .second-part .previous .icon {
  background: #FFFFFF;
  padding: 1rem;
  border-radius: 20px;
}
.main-layout .calendar {
  grid-column: span 4;
  height: 280px;
  /* Header */
  /* Days Row */
  /* Event */
}
.main-layout .calendar .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}
.main-layout .calendar .calendar-header h4 {
  font-size: 1rem;
  font-weight: 600;
}
.main-layout .calendar .calendar-nav {
  display: flex;
  gap: 0.4rem;
}
.main-layout .calendar .calendar-nav button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #eee;
  background: #fff;
  cursor: pointer;
}
.main-layout .calendar .calendar-days {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
}
.main-layout .calendar .day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
.main-layout .calendar .day span {
  font-size: 0.7rem;
  color: #999;
}
.main-layout .calendar .day .date {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #f3f1ea;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
.main-layout .calendar .day.active .date {
  background: #facc15;
  color: #111;
  font-weight: 600;
}
.main-layout .calendar .calendar-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f5ef;
  border-radius: 16px;
  padding: 0.9rem;
}
.main-layout .calendar .event-left {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.main-layout .calendar .event-icon {
  width: 36px;
  height: 36px;
  border-radius: 12px;
  background: #111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-layout .calendar .event-info h5 {
  font-size: 0.85rem;
}
.main-layout .calendar .event-info p {
  font-size: 0.7rem;
  color: #777;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.main-layout .calendar .dot {
  width: 6px;
  height: 6px;
  background: #facc15;
  border-radius: 50%;
}
.main-layout .calendar .event-more {
  font-size: 1.2rem;
  cursor: pointer;
}
.main-layout .video {
  grid-column: span 8;
  height: 460px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: stretch;
}
.main-layout .video .wapper {
  width: 70%;
  background: #F4F1EB;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.main-layout .video .wapper .top-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-layout .video .wapper .top-side .content {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
.main-layout .video .wapper .top-side .content p {
  font-size: 1.2rem;
  font-family: "Inter-ExtraBold", sans-serif;
}
.main-layout .video .wapper .top-side .content span {
  color: #939393;
}
.main-layout .video .wapper .top-side .icons {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  position: relative;
}
.main-layout .video .wapper .top-side .icons .git {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #FFFFFF;
}
.main-layout .video .wapper .top-side .icons .git .git-icon {
  position: absolute;
  left: 19%;
  top: 27%;
}
.main-layout .video .wapper .top-side .icons .download {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #FFFFFF;
}
.main-layout .video .wapper .top-side .icons .download .hard-icon {
  position: absolute;
  right: 19%;
  top: 27%;
}
.main-layout .video .wapper .vido-container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.main-layout .video .wapper .vido-container video {
  width: 70%;
  border-radius: 20px;
}
.main-layout .video .wapper .vido-container .center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-layout .video .wapper .vido-container .center span {
  font-family: "Inter-ExtraBold", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}
.main-layout .video .wapper .vido-container .center .image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
}
.main-layout .video .wapper .vido-container .center .image-container .image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.main-layout .video .wapper .vido-container .center .image-container .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
}
.main-layout .video .wapper .vido-container .center p {
  color: #939393;
}
.main-layout .video .wapper .vido-container .center .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-layout .video .wapper .vido-container .center .text .leave {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background: #FFFFFF;
}
.main-layout .video .wapper .vido-container .center .text .leave span {
  font-size: 0.8rem;
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
}
.main-layout .video .outer-button {
  width: 30%;
  border-radius: 20px;
  padding: 1.5rem;
}
.main-layout .video .outer-button .inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-layout .video .outer-button .inner .side-btn {
  background-color: #f4f1eb;
  border-radius: 20px;
  padding: 0.7rem 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.main-layout .video .outer-button .inner .side-btn .icon {
  background: #22262B;
  padding: 1rem;
  border-radius: 10px;
}
.main-layout .video .outer-button .inner .side-btn p {
  font-size: 1rem;
  font-family: "Inter-ExtraBold", sans-serif;
  font-weight: 500;
}
.main-layout .progress {
  grid-column: span 4;
  height: 630px;
}
.main-layout .progress .main-progress {
  display: flex;
  flex-direction: column;
}
.main-layout .progress .main-progress .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-layout .progress .main-progress .content .button {
  background-color: #f5f1ee;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}
.main-layout .progress .main-progress .card {
  width: 100%;
  margin-top: 5%;
  border-radius: 20px;
  background-color: #f4f1eb;
}
.main-layout .progress .main-progress .card .content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.main-layout .progress .main-progress .card .content p {
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 1.2rem;
}
.main-layout .progress .main-progress .card .content .button {
  border-radius: 50px;
  padding: 0.5rem 1rem;
  background: #FCCB26;
}
.main-layout .progress .main-progress .card .text {
  margin-top: 5%;
}
.main-layout .progress .main-progress .card .text p {
  color: #939393;
}
.main-layout .progress .main-progress .card .text .underline {
  margin-top: 5%;
  width: 100%;
  border-bottom: 0.1rem solid rgba(142, 139, 139, 0.636);
}
.main-layout .progress .main-progress .card .down {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
  justify-content: space-between;
}
.main-layout .progress .main-progress .card .down .button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  background: #FFFFFF;
}
.main-layout .progress .main-progress .card .down .button span {
  font-family: "Inter-ExtraBold", sans-serif;
}
.main-layout .tasks {
  grid-column: span 4;
  height: 200px;
  margin-top: -35%;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.main-layout .tasks .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-layout .tasks .left .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.main-layout .tasks .left .content h5 {
  font-size: 1rem;
}
.main-layout .tasks .left .content span {
  color: #939393;
}
.main-layout .tasks .left .content .down-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
}
.main-layout .tasks .left .content .down-content .btn-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.main-layout .tasks .left .content .down-content .button {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background: #22262B;
  width: -moz-fit-content;
  width: fit-content;
}
.main-layout .tasks .left .content .down-content .button p {
  color: #FCCC22;
}
.main-layout .tasks .left .content .down-content .button2 {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background: #f1efe9;
  width: -moz-fit-content;
  width: fit-content;
}
.main-layout .tasks .left .content .down-content .button2 p {
  color: #22262B;
}
.main-layout .tasks .right {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 50%;
}
.main-layout .tasks .right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px;
}
.main-layout .tasks-part-2 {
  grid-column: span 4;
  height: 200px;
  margin-top: -35%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/*Global styling*/
.button-2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 0.6rem 1rem;
  cursor: pointer;
}
.button-2 a {
  text-decoration: none;
  color: #939393;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.left .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.left .content h5 {
  font-size: 1rem;
}
.left .content span {
  color: #939393;
}
.left .content .down-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
}
.left .content .down-content .btn-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.left .content .down-content .btn-container .button {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background: #22262B;
  width: 100%;
}
.left .content .down-content .btn-container .button p {
  color: #FCCC22;
}
.left .content .down-content .btn-container .button2 {
  padding: 0.5rem 0.5rem;
  border-radius: 50px;
  background: #f1efe9;
  width: 100%;
}
.left .content .down-content .btn-container .button2 p {
  color: #22262B;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 50%;
}
.right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px;
}/*# sourceMappingURL=main.css.map */