/* Abstracts */
@use "./abstracts/variables" as va;
@use "./abstracts/typography" as ty;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ty.$regular;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: va.$primary-bg;
}

/*Top-bar section*/
.main-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  .image {
    width: 5%;
    // background-color: red;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .center {
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    // background-color: green;
    .search-wrapper {
      position: relative;
      width: 40%;
      // background-color: red;
      .search-bar {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        background: va.$primary-bg;
        padding: 0.6rem 1rem;
        border-radius: 50px;
        width: 100%;
        border: 0.1rem solid #9c9999;
        .search-icon {
          color: #888;
        }
        input {
          border: none;
          outline: none;
          background: transparent;
          width: 100%;
          font-size: 0.95rem;
          color: #333;

          &::placeholder {
            color: #aaa;
          }
        }
      }
      /* Dropdown */
      .results {
        position: absolute;
        top: calc(100% + 0.5rem);
        left: 0;
        width: 100%;
        background: #fff;
        border-radius: 16px;
        padding: 0.5rem;
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
        z-index: 50;

        p {
          padding: 0.6rem 0.8rem;
          border-radius: 10px;
          cursor: pointer;
          transition: 0.2s ease;

          &:hover {
            background: va.$secondary-button-bg;
          }
        }

        .no-result {
          text-align: center;
          color: va.$sub-text;
          font-size: 0.85rem;
        }
      }
    }
    .button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: fit-content;
      background: va.$primary-button-bg;
      border-radius: 50px;
      padding: 0.6rem 1rem;
      cursor: pointer;
      a {
        text-decoration: none;
        color: va.$primary-button-text-color;
      }
    }
    .more {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: va.$secondary-button-bg;
    }
  }
  .right {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    .light {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: va.$primary-button-bg;
      color: va.$glow-button-bg;
      &:hover {
        background: #fccb26;
        color: #111;
      }

      &.active {
        background: #111;
        color: #fff;
      }
    }
    .dark {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: va.$primary-button-bg;
      color: va.$secondary-button-bg;
      &:hover {
        background: #fccb26;
        color: #111;
      }

      &.active {
        background: #111;
        color: #fff;
      }
    }
    .button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: fit-content;
      background: va.$primary-button-bg;
      border-radius: 50px;
      padding: 0.6rem 1rem;
      cursor: pointer;
      a {
        text-decoration: none;
        color: va.$primary-button-text-color;
      }
    }
  }
}
/*Side-bar section*/
.sidebar {
  width: 80px;
  height: calc(100vh - 70px); // below topbar
  background: #f7f5ef;
  border-radius: 30px;
  margin: 1.5rem 0 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/* Center menu */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: va.$secondary-button-bg;
  border: 0.1rem solid gray;
  border-radius: 50px;
  padding: 0.5rem;
}
.sidebar-menu-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: transparent;
  border: 0.1rem solid gray;
  border-radius: 50px;
  padding: 0.5rem;
}
.menu-item {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: #ece9e2;
    color: #111;
  }

  &.active {
    background: va.$primary-button-bg;
    color: va.$primary-button-text-color;
  }
}

/* Bottom section */
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: va.$secondary-button-bg;
  padding: 0.5rem;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 55%;
  .profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.main-layout {
  display: flex;
  gap: 1.5rem;
  // background-color: greenyellow;
  .dashboard {
    flex: 1;
    background: #f7f5ef;
    border-radius: 30px;
    // padding: 2rem;
    margin: 1.5rem 1.5rem 1.5rem 0;
    overflow-y: auto;
  }

  /* Header */
  .dashboard-header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    // background-color: blue;
    h2 {
      font-size: 1.6rem;
    }

    p {
      color: va.$sub-text;
      margin-top: 0.3rem;
    }
  }

  .large-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* Grid layout */
  .dashboard-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    // background-color: red;
  }

  /* Common card */
  .card {
    background: #fff;
    border-radius: 24px;
    padding: 1.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
  }

  /* Grid sizes */
  .large {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: span 8;
    height: 280px;
    // background-color: green;
    .button-header {
      display: flex;
      flex-direction: row;
      width: 35%;
      gap: 0.5rem;
    }
    .menu-item {
      width: 50%;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: va.$primary-button-text-color;
      color: #111;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background: #ece9e2;
        color: #111;
      }

      &.active {
        background: va.$primary-button-bg;
        color: va.$primary-button-text-color;
      }
    }
    .container {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      /*First card section*/
      .design {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        width: 60%;
        background-color: #f5f1ee;
        padding: 1rem;
        border-radius: 20px;
        // background-color: red;

        .image {
          width: 55%;
          img {
            width: 100%;
            border-radius: 20px;
            object-fit: cover;
            object-position: center;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          width: 100%;
          p {
            font-family: ty.$extrabold;
            font-size: 1.5rem;
            text-align: center;
          }
          span {
            text-align: center;
            font-size: 1.1rem;
          }
        }
      }
      .second-part {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        .previous {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
          width: 100%;
          border-radius: 20px;
          background-color: #f5f1ee;
          padding: 1rem;
          .icon {
            background: va.$secondary-button-bg;
            padding: 1rem;
            border-radius: 20px;
          }
        }
      }
    }
  }
  /*Calendar Section*/
  .calendar {
    grid-column: span 4;
    height: 280px;
    /* Header */
    .calendar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.2rem;
      h4 {
        font-size: 1rem;
        font-weight: 600;
      }
    }

    .calendar-nav {
      display: flex;
      gap: 0.4rem;

      button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #eee;
        background: #fff;
        cursor: pointer;
      }
    }

    /* Days Row */
    .calendar-days {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.4rem;
    }

    .day {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.4rem;

      span {
        font-size: 0.7rem;
        color: #999;
      }

      .date {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #f3f1ea;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
      }

      &.active .date {
        background: #facc15;
        color: #111;
        font-weight: 600;
      }
    }

    /* Event */
    .calendar-event {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #f7f5ef;
      border-radius: 16px;
      padding: 0.9rem;
    }

    .event-left {
      display: flex;
      gap: 0.75rem;
      align-items: center;
    }

    .event-icon {
      width: 36px;
      height: 36px;
      border-radius: 12px;
      background: #111;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .event-info h5 {
      font-size: 0.85rem;
    }

    .event-info p {
      font-size: 0.7rem;
      color: #777;
      display: flex;
      align-items: center;
      gap: 0.4rem;
    }

    .dot {
      width: 6px;
      height: 6px;
      background: #facc15;
      border-radius: 50%;
    }

    .event-more {
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
  /*Video Section*/
  .video {
    grid-column: span 8;
    height: 460px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: stretch;

    // background-color: red;
    .wapper {
      width: 70%;
      background: va.$primary-bg;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      .top-side {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .content {
          width: fit-content;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          padding: 1rem;
          p {
            font-size: 1.2rem;
            font-family: ty.$extrabold;
          }
          span {
            color: va.$sub-text;
          }
        }
        .icons {
          width: fit-content;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          padding: 1rem;
          position: relative;
          .git {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: va.$secondary-button-bg;
            .git-icon {
              position: absolute;
              left: 19%;
              top: 27%;
            }
          }
          .download {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: va.$secondary-button-bg;
            .hard-icon {
              position: absolute;
              right: 19%;
              top: 27%;
            }
          }
        }
      }
      .vido-container {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .video-con {
          width: 100%;
          height: 250px;
          position: relative;
          border-radius: 20px;
          overflow: hidden;
          video {
            position: absolute;
            width: 100%;
          }
        }
        .center {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          span {
            font-family: ty.$extrabold;
            font-weight: 600;
            font-size: 1.1rem;
          }
          .image-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 0.1rem;
            .image {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              // background-color: red;
              position: relative;
              overflow: hidden;
              img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                position: absolute;
              }
            }
          }
          p {
            color: va.$secondary-button-text;
          }
          .text {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .leave {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 0.5rem;
              padding: 0.5rem 1rem;
              border-radius: 50px;
              background: va.$secondary-button-bg;
              span {
                font-size: 0.8rem;
                font-family: ty.$medium;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
    .outer-button {
      width: 30%;
      border-radius: 20px;
      padding: 1.5rem;
      .inner {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .side-btn {
          background-color: #f4f1eb;
          border-radius: 20px;
          padding: 0.7rem 0.9rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          //
          gap: 1rem;
          width: 100%;
          .icon {
            background: va.$primary-button-bg;
            padding: 1rem;
            border-radius: 10px;
          }
          p {
            font-size: 1rem;
            font-family: ty.$extrabold;
            font-weight: 500;
          }
        }
      }
    }
  }

  /*Progress Section*/
  .progress {
    grid-column: span 4;
    height: 700px;
    .main-progress {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .text {
          font-size: 1.1rem;
          font-family: ty.$extrabold;
          font-weight: 600;
        }
        .button {
          background-color: #f5f1ee;
          border-radius: 50px;
          padding: 0.5rem 1rem;
        }
      }
      .card {
        width: 100%;
        margin-top: 5%;
        border-radius: 20px;
        background-color: #f4f1eb;
        .content {
          width: 100%;
          display: flex;
          flex-direction: row;
          p {
            font-family: ty.$extrabold;
            font-size: 1.2rem;
          }
          .button {
            border-radius: 50px;
            padding: 0.5rem 1rem;
            background: va.$primary-button-text-color;
          }
        }
        .text {
          margin-top: 5%;

          p {
            color: va.$secondary-button-text;
          }
          .underline {
            margin-top: 5%;
            width: 100%;
            border-bottom: 0.1rem solid rgba(142, 139, 139, 0.636);
          }
        }
        .down {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 5%;
          justify-content: space-between;
          .button {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            border-radius: 50px;
            padding: 0.5rem 1rem;
            background: va.$secondary-button-bg;
            span {
              font-family: ty.$extrabold;
            }
          }
        }
      }
    }
  }
  /*Tasks Section*/

  .tasks {
    grid-column: span 4;
    height: 200px;
    margin-top: -45%;
    display: flex;
    flex-direction: row;
    width: 100%;

    .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      // background-color: red;
      .content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: fit-content;
        h5 {
          font-size: 1rem;
        }
        span {
          color: va.$secondary-button-text;
        }
        .down-content {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          width: 50%;
          .btn-container {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;
          }
          .button {
            padding: 0.5rem 1rem;
            border-radius: 50px;
            background: va.$primary-button-bg;
            width: fit-content;
            p {
              color: va.$glow-button-bg;
            }
          }
          .button2 {
            padding: 0.5rem 1rem;
            border-radius: 50px;
            background: #f1efe9;
            width: fit-content;
            p {
              color: va.$primary-button-bg;
            }
          }
        }
      }
    }
    .right {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      width: 50%;
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
      }
    }
  }
  .tasks-part-2 {
    grid-column: span 4;
    height: 200px;
    margin-top: -45%;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

/*Global styling*/
.button-2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  background: va.$secondary-button-bg;
  border-radius: 50px;
  padding: 0.6rem 1rem;
  cursor: pointer;
  a {
    text-decoration: none;
    color: va.$secondary-button-text;
  }
}
.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  // background-color: red;
  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
    h5 {
      font-size: 1rem;
    }
    span {
      color: va.$secondary-button-text;
    }
    .down-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 50%;
      .btn-container {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        .button {
          padding: 0.5rem 1rem;
          border-radius: 50px;
          background: va.$primary-button-bg;
          width: 100%;
          p {
            color: va.$glow-button-bg;
          }
        }
        .button2 {
          padding: 0.5rem 0.5rem;
          border-radius: 50px;
          background: #f1efe9;
          width: 100%;
          p {
            color: va.$primary-button-bg;
          }
        }
      }
    }
  }
}
.right {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 50%;
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }
}
/*scrollbar-background*/
::-webkit-scrollbar {
  background-color: #000000;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(166, 166, 166, 0.523);
  border-radius: 50px;
}

body {
  user-select: none;
}
